:root {
  --p-color: #757575;
  --title-color: #212121;
  --bcg-footer-color: #2f303a;
  --link-color: #2196f3;
  --white-color: #ffffff;
  --contact-header-color: #757575;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --bcg-portfolio-btn-color: #f5f4fa;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--p-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ШАПКА */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

/* LOGO */
.header .logo {
  margin-right: 93px;

  flex: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-color);
  text-decoration: none;
}

.logo .acent {
  color: var(--link-color);
}

/* NAV */

.nav.container {
  padding-right: 0;
  padding-left: 0;
}

.nav-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-list .item {
  list-style: none;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link.current {
  color: var(--link-color);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--link-color);
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-color);
}

/* CONTACTS */

.contact-list {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.contact-list .item:not(:last-child) {
  margin-right: 50px;
}

.contact-list .item {
  list-style: none;
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--link-color);
}

.contact-list .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--contact-header-color);
}

/* ЗАМОВИТИ ПОСЛУГУ */
.order {
  background-color: var(--bcg-footer-color);
}

.order .container {
  align-items: center;
  text-align: center;
}

.order-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--white-color);
}

.order .btn {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--link-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

/* ОСОБЛИВОСТІ */

.none {
  display: none;
}

.quality .container {
  /* margin-bottom: 94px; */
}

.quality-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.quality-list .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.quality-list .item:nth-child(4n) {
  margin-right: 0;
}

.quality .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.quality-list .paragraph {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}

/* ЧИМ МИ ЗАЙМАЄМОСЯ */

.work .container {
  /* margin-bottom: 94px; */
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

.work-list {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.work-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.work-list .item:nth-child(3n) {
  margin-right: 0;
}

/* НАША КОМАНДА */

.team .container {
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.team-list .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.team-list .item:nth-child(4n) {
  margin-right: 0;
}

.team-list .image {
  margin-bottom: 30px;
}

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-color);
}

.team-list .paragrahp {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.18;
}

/* ФУТЕР */

.footer {
  background-color: var(--bcg-footer-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  text-decoration: none;
}

.address {
  font-style: normal;
}

.location {
  display: block;
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--white-color);
}

.location:hover,
.location:focus {
  color: var(--link-color);
}

.footer-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.footer-list .link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--contact-footer-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--link-color);
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

/* !ПОРТФОЛІО */

.potfolio-title {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}

/* FILTERS */

.filters-container {
  width: 575px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 34px;
}

.filters-list {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

/*? .filters-list .item {
  width: calc((100% - 32px) / 5);
  margin-right: 8px;
} */

.filters-list .item {
  margin-right: 8px;
}

.filters-list .item:last-child {
  margin-right: 0;
}

.filters-list .btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--bcg-portfolio-btn-color);
  color: var(--title-color);
  text-align: center;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.filters-list .btn:hover,
.filters-list .btn:focus {
  background-color: var(--link-color);
  color: var(--white-color);
}

/* PORTFOLIO-LIST */

.portfolio .container {
  /* margin-bottom: 94px; */
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.portfolio-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list .title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
}

.portfolio-list .paragrahp {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;
}
